pre.app-code {
    background-color: var(--surface-ground);
    margin: 0 0 1rem 0;
    padding: 0;
    border-radius: var(--border-radius);
    overflow: auto;

    code {
        color: var(--surface-900);
        padding: 1rem;
        line-height: 1.5;
        display: block;
        font-family: monaco, Consolas, monospace;
    }
}

/* Prevents the loading overlay from spilling out when the table is empty */
.p-datatable {
    position: relative;
}

.p-datatable-loading-overlay {
    background-color: rgba(255, 255, 255, 0.7) !important;
    backdrop-filter: blur(8px);
    z-index: 100;
    /* This ensures it stays inside the table borders */
    border-radius: inherit;
}
